<!doctype html>

<html>

<head>
    <meta charset="utf-8">

    <title>DO NOT CLICK HERE--></title>
    
    <link href="{{ url_for('static', filename = 'estilos3.css') }}" rel="stylesheet" type="text/css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>

<body>
    
    <header>
        <img src="{{ url_for('static', filename = 'blog3.jpg') }}" style=" margin-left: 5px; margin-top: 10px; margin-right: 10px; clear: both;"class = "rounded" >
        <h1>THE BLOg</h1>
    
        <nav>
        
            <a href="index">Index</a>
            <a href="algo">Algoritmos</a>
            <a href="gol">Game of life</a>
               
    </nav>

    </header>

    

    
    

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p >Website feito em Flask &copy; 2020    <a   href="about">About</a>  </p>
        
    </footer>

</body>

</html>
