{% extends "layout.html" %}
 
{% block content %}
<h1>Turing Machine</h1><hr/>
<h3>Insira uma sequência binária para organizar</h3>
<form  action="/turing" method = "post">
    <label for="se">sequencia:</label><br>
    <input type="text" name="se" autocomplete="off" ><br>
    <p></p><br>
    <input id="button" class="submit" type="submit" value="submit">
</form>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
         <p class="flash">{{ message }}</p> 
        {% endfor %}
    {% endif %}
{% endwith %}

<p></p><br>

{% endblock %}